#container {
	position: absolute; 
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background: -webkit-radial-gradient(top,#949494,#0D0D0D);
	background: radial-gradient(top,#949494,#0D0D0D);*/
	/*background:url(../img/kitten.jpg) no-repeat center;*/
}

.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 100px;
	margin: -100px 0 0 -200px;
}
#categoryQuerystring{
	display: block;
	width: 100%;
	height: 34px;
	font-size:20px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	padding: 21.5px 10px;
	background-color: rgba(0,0,0,0);
	color: #ccc;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#categorySubmit,#categoryQuerystring{
	margin-bottom: 20px;
	border-radius: 0;
}
.col{
	padding: 0 !important;
}